body {
  text-align: center;
  margin: 2rem auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(235, 233, 230);
  box-sizing: border-box;
}

#city {
  font-size: 2rem;
  font-weight: 500;
}

#temp {
  font-size: 3rem;
}

#country {
  font-size: 1.5rem;
  color: rgb(30, 181, 219);
}

#descrip {
  font-size: 1.4rem;
  color: rgb(30, 181, 219);
}

input {
  padding: .5rem;
  border: none;
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}

button {
  background-color: rgb(30, 181, 219);
  color: white;
  border: none;
  padding: .5rem;
  margin-left: -.2rem;
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
}
video {
  position: absolute;
  top: 0;
  left: 0;
}
.video-wrapper {
  height: calc(100vh - 170px);
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  position: fixed;
  top: 20%;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}